<!-- <div class="uk-card uk-card-default">
    <div>
        <div class="uk-card-media-top uk-text-center">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/84/Che-movie-poster2.jpg/220px-Che-movie-poster2.jpg"
                height="150" width="150" class="uk-margin-small-top" alt="">
        </div>
        <div class="uk-card-body uk-text-center">
            <h3 class="uk-card-title">Title</h3>
            <p>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
        </div>
    </div>
</div> -->

<div class="uk-card uk-card-default">
    <div class="uk-card-media-top uk-text-center">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/84/Che-movie-poster2.jpg/220px-Che-movie-poster2.jpg"
            height="70" width="70" class="uk-margin-small-top" alt="">
    </div>
    <div class="uk-card-body uk-text-center">
        <p class="uk-text-bold">Title</p>
        <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </p>
    </div>
</div>