<div class="uk-card uk-card-default uk-background-primary">
    <div class="uk-card-media-top uk-text-center">
        <br>
        <img src="https://image.tmdb.org/t/p/w200/qdfARIhgpgZOBh3vfNhWS4hmSo3.jpg" alt="">
    </div>
    <div class="uk-card-body uk-text-center  ">
        <p class="uk-text-bold uk-text-secondary">Title</p>
        <p>
            <span class="fa fa-star uk-text-secondary"></span>
            <span class="fa fa-star uk-text-secondary"></span>
            <span class="fa fa-star uk-text-secondary"></span>
            <span class="fa fa-star uk-text-secondary"></span>
            <span class="fa fa-star"></span>
        </p>
    </div>
</div>