<br>
<div class="uk-background-secondary uk-text-center uk-width-small" uk-height-viewport="offset-bottom: 0">
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
        <li class="uk-active"><a href="#">Menu</a></li>
        <li class="uk-parent">
            <a href="#">Movies</a>
            <ul class="uk-nav-sub">
                <li>
                    <a href="#">Genres</a>
                    <ul>
                        <li><a href="#">aaa</a></li>
                        <li><a href="#">bbb</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="uk-parent">
            <a href="#">Graphs</a>
            <ul class="uk-nav-sub">
                <li><a href="#">aaa</a></li>
                <li><a href="#">bbb</a></li>
            </ul>
        </li>
    </ul>
</div>